{% extends 's_app/base.html' %}

{% block title %}
    about
{% endblock %}

{% block top %}
{% endblock %}

{% block content %}
		<div class='secondpage'>
			<h4>О НАС</h4>
			<p>Салон красоты «SKY» открыл двери для посетителей в июле 2011 года.</p>
			<p>С первого дня нашими базовыми принципами работы стали доброжелательность, чуткое отношение к каждому клиенту и высокий уровень профессионализма во всех сферах оказываемых услуг.</p>
			<p>С первых секунд пребывания в салоне вы окунетесь в атмосферу заботы и доброжелательности.</p>
			<p>Почувствуйте себя отдохнувшими, словно на небе, открыв новые ощущения и удовольствие от виртуозного мастерства наших специалистов!</p>
			<p>В качестве основных партнеров салона выступают ведущие бренды мира моды и косметики.</p>
			<p></p>
			<div class='second'>
			</div>
		</div>
{% endblock %}
