{% extends 's_app/base.html' %}

{% block title %}
    services
{% endblock %}

{% block top %}

{% endblock %}

{% block content %}
		<div class='thirdpage'>
			<h4>НАШИ УСЛУГИ</h4>
			<div class='service'>
				<div>
					БРОВИ
					<div class='b'>
					</div>
				</div>
				<div>
					РЕСНИЦЫ
					<div class='r'>
					</div>
				</div>
				<div>
					НОГТИ
					<div class='n'>
					</div>
				</div>
				<div>
					ВОЛОСЫ
					<div class='v'>
					</div>
				</div>
				<div>
					МАССАЖ
					<div class='m'>
					</div>
				</div>
				<div>
					СПА
					<div class='s'>
					</div>
				</div>
			</div>
		</div>
{% endblock %}
